@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 227 38% 26%;
    --foreground: 0 0% 98%;

    --card: 227 38% 30%;
    --card-foreground: 0 0% 98%;

    --popover: 227 38% 30%;
    --popover-foreground: 0 0% 98%;

    --primary: 215 88% 79%;
    --primary-foreground: 227 38% 15%;

    --secondary: 227 38% 35%;
    --secondary-foreground: 0 0% 98%;

    --muted: 227 38% 35%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 174 38% 44%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 227 38% 35%;
    --input: 227 38% 40%;
    --ring: 215 88% 79%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 227 38% 28%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 215 88% 79%;
    --sidebar-primary-foreground: 227 38% 15%;
    --sidebar-accent: 227 38% 35%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 227 38% 35%;
    --sidebar-ring: 215 88% 79%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
